# ─────────────────────────────────────────────
#  Entornos virtuales
# ─────────────────────────────────────────────
venv/
# ─────────────────────────────────────────────
#  Python cache & compilados
# ─────────────────────────────────────────────
__pycache__/

# ─────────────────────────────────────────────
#  Archivos generados por el proyecto
# ─────────────────────────────────────────────
output.json

# ─────────────────────────────────────────────
#  Ignorar documentos de la prueba técnica
# ─────────────────────────────────────────────
Prueba Técnica.docx
